<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
</head>
<body>
    <h1>Quiz</h1>
    <p>{{ question['question'] }}</p>
    <form method="post">
        {% for answer in question['answers'] %}
        <div>
            <input type="radio" id="{{ answer }}" name="answer" value="{{ answer }}">
            <label for="{{ answer }}">{{ answer }}</label>
        </div>
        {% endfor %}
        <input type="hidden" name="correct_answer" value="{{ question['correct_answer'] }}">
        <input type="submit" value="Submit">
    </form>
</body>
</html>